.activity-container {
  width: 100%;
  background-color: #ebeff2;
  padding: 20px 20px;
  border-radius: 10px;
}
.activity-container .header {
  display: flex;
  justify-content: space-between;
  color: #1a1e74;
  margin-bottom: 20px;
}
.activity-container p {
  font-size: small;
  color: gray;
}

.chart {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.day {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}

.bar {
  width: 6px;
  border-radius: 4px;
}

.gray {
  background-color: #e0e0e0;
}

.cyan {
  background-color: #00d4ff;
}

.purple {
  background-color: #5a47d7;
}

.day span {
  margin-top: 6px;
  font-size: 12px;
  color: gray;
}

@media (max-width: 1024px) {
}
@media (max-width: 768px) {
  .activity-container {
    width: 100%;
    background-color: #ebeff2;
    padding: 10px 20px;
    border-radius: 10px;
  }
}

@media (max-width: 480px) {
  .activity-container {
    width: 100%;
  }
}
